@import '../../styles/_colors.scss';

.card {
    position: relative;
    background: #101010;
    width: 250px;
    height: 220px;
    padding: 1rem;
    transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
    margin: 0.55rem;
    color: white;
    border-radius: 4px;

    &:hover {
        background: #171717;
        box-shadow: inset 0px 0px 0px 1px $js-colors__base__teal;
        border-radius: 16px;
        transition: 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);

        svg {
            path {
                stroke: rgba(255, 255, 255, 0.9);
            }
        }
    }

    &:active {
        filter: blur(20px);
        border-radius: 26px;
    }
    
    svg {
        path {
            stroke: rgba(255, 255, 255, 0.3);
        }
    }

    &__contents {
        display: flex;
        height: 100%;
        flex-flow: column nowrap;
        justify-content: space-between;

        &__head {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 1rem;

            &--logo {
                width: 45px;
                height: 45px;

                #card__contents__head--logo {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }


        &__body {
            margin-bottom: 0.25rem;
            flex-grow: 2;
        }

        &__pill-container {
            display: flex;
            flex-flow: row nowrap;
        }
    }

    & p {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);    
}


/* Media Queries */

@media (max-width: 600px) {

    .card {
        width: 300px;
    }
}