.page-header {
    display: flex;
    gap: 48px;
    flex-flow: row wrap;
    margin: 150px 24px 72px 24px ;
    align-items: center;

    &__icon {
        height: 96px;
    }

    h1 {
        margin-bottom: 0px;
    }
}