button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 38px;
    min-width: 80px;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0.5rem;
    /* box-shadow: inset 0px 0px 0px 0.5px rgba(255, 255, 255); */
    border-radius: 0.25rem;
    transition: 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
    border-width: 0;
    border-style: none;
}

button p {
    margin: 0;
}

button:hover {
    /* color: black; */
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255);
    box-shadow: inset 0px 0px 0px 20px rgba(255, 255, 255, 0), inset 0px 0px 10px rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
}

button:active {
    color: white;
    background: blue;
}

button:focus {
    /* border: 10px solid rgba(0, 240, 255, 0.2); */
}