filter {
    color: white;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    width: 100px;
    height: 50px;
    padding: 2px 5px;
    /* border: 0.5px solid white; */
    vertical-align: middle;
    border-radius: 32px 32px 0 0;
}

filter:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.10) 100%);
    box-shadow: inset 0px 0px 0px 20px rgba(255, 255, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0.05), inset 0px 0px 30px rgba(255, 255, 255, 0.05);
    border-radius: 16px 16px 0 0;
    transition: 0.2s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
    /* border-bottom: 8px solid rgb(255, 255, 255, 0); */
}

filter h4 {
    line-height: 37px;
}
