.header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem 4rem;
    max-width: 900px;
    margin: 0 auto;
}

#header__logo {
    margin-bottom: 1rem;
}

.header__filters {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-bottom: 0.5px solid rgb(255, 255, 255, 1);
}

.HeaderScrolled {
    background: rgba(0,0,0, 0.7);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 100;
    top: 0;
  }
  