@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

html, body {
  // height: 100%;
}

body {
  // background: linear-gradient(0deg, #5302FF 0%, #1502FF 12.92%, #000000 48.12%);
  /* background: linear-gradient(180deg, #000000 29.43%, #001BBE 69.03%, #6B6DA8 80.41%, #BE8598 86.85%, #FF978C 92.42%, #FF8A70 96.25%, #FF531E 100%); */
  background: radial-gradient(236.43% 109.74% at 50% 118.89%, #DB5B50 16.09%, #B53A4F 24.83%, #5C1D90 35.18%, #0000D2 52.76%, #000000 79.09%);
  // background: radial-gradient(236.43% 109.74% at 50% 118.89%, #5C1D90 1.56%, #0000D2 16.67%, #000000 60.42%);
  // background: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  // cursor: url(/src/images/cursor-default.svg), auto;
  font-family: 'Inter', sans-serif;
  color: white;
}

// body::after {
//   content  : "";
//   position : absolute;
//   z-index  : 1;
//   bottom   : -15rem;
//   left     : 0;
//   pointer-events   : none;
//   background-image : linear-gradient(to bottom, 
//                     rgba(0, 0, 0, 0), 
//                     rgb(0, 0, 0) 100%);
//   width    : 100%;
//   height   : 20vh;
// }

.site {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: white;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;

  &-top {
    &--left {
      position: fixed;
      z-index: 210;
      top: 1.25rem;
      left: 1rem;
    }
  
    &--right {
      position: fixed;
      z-index: 210;
      top: 1.25rem;
      right: 1rem;
    }
  }    
}

main {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 auto;
  justify-content: center;
  margin-bottom: 10rem;
}

.about {
  width: 100vw;
  height: 100vh;
  background: #0101D0;
  padding-top: 6rem;
  color: white;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10rem;
    text-align: center;
  }

  & a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}

.not-found {
  width: 100vw;
  height: 100vh;
  background: #B20000;
  padding-top: 6rem;
  color: white;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    max-width: 900px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10rem;
    text-align: center;
  }

  & a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}

footer {
  flex-shrink: 0;
}

.secrets {
  visibility: hidden;
}

.spacer {
  height: 300px;
}

/* TYPE STYLES!!!!!! */

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 7.5rem;
  line-height: 125px;
  letter-spacing: -0.05em;
  hyphens: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-block-start: 0.5em;
  margin-block-end: 0.25em;
  margin-top: 0rem;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: -0.05rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-family: 'Jetbrains Mono', monospace;
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 40px;
  margin: 0;
  z-index: 1;
}

h4 {
  font-family: 'Jetbrains Mono', monospace;
  font-size: 1.25rem;
  font-weight: 300;
  box-shadow: none;
  padding: 0px;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h5 {
  font-family: 'Jetbrains Mono', monospace;
  font-weight: 300;
  font-size: 1rem;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

::selection {
  color: #000;
  background-color: rgb(255, 255, 0);
}

/* Media Queries */

@media (max-width: 900px) {
  .site {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  body {
    background: black;
  }
  
  .site {
    max-width: 400px;
  }
}

@media (min-width: 1400px) {
  .site {
    max-width: 1200px;
  }
}

@media (min-width: 1800px) {
  .site {
    max-width: 1500px;
  }
}

@media (max-width: 1150px) {

  .site-top {
    &--left {
      position: absolute;
      z-index: 100;
    }

    &--right {
      position: absolute;
      z-index: 100;
    }
  }
}