.topbar {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem;
    justify-content: space-between;
    position: fixed;
    z-index: 101;
    top: 0;
    width: calc(100vw - 2rem);
}

/* Media Queries */

@media (max-width: 1150px) {

    .topbar {
        position: absolute;
        z-index: 103;
    }
}