.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 100px;
  margin: 0px auto;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 100;
  
  &__contents {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 24px;
  }
}