@import '../../styles/_colors.scss';

.footer {
  height: 300px;
  margin: 0px auto;
  width: 100vw;
  bottom: 0;
  z-index: 100;
  padding-top: 36px;
  border-top: 1px solid $js-colors__base__white;

  &__logo {
    width: 30px;
  }
}